@import "base";

$appLogoWidth: 58px;

.searchInput{
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: $font12;
  @extend .paddingMid;
  @extend .marginYMid;
}

.appList{
  margin-top: 0;
  margin-bottom: 0;

  .appItem{
    @extend .paddingYSmall;
    height: 71px;
    width: 100%;
    border-bottom: 1px solid #ddd;
    position: relative;
    .appLogo{
      float: left;
      img{
        width: $appLogoWidth;
        height: $appLogoWidth;
        border-radius: $bordius5;
      }
    }
    .appMain{
      margin-left: $paddingMid;
      float: left;
      &>*{
        margin-top: 2px;
        margin-bottom: 2px;
      }
      .appName{
        font-size: $font16;
      }
      small{
        font-size: $font12;
        color: $grey2;
      }
      .iconfont{
        font-size: $font8;
        color: $grey2;
        &[title=active]{
          color: #FE7D00;
        }
      }
    }
    .installBtn{
      @extend .YCenterAbsolute;
      right: 0;
      button{
        padding: 6px 14px;
        font-size: $font10;
        background-color: white;
        border: 1px solid #27B860;
        color: #27B860;
        border-radius: 3px;
      }
    }
  }
}

.classQuery{
  position: relative;
  width: 20%;
  height: 100%;
  padding: 8px;
  font-size: $font12;
  text-align: center;
  color: $grey1;

  display: inline-block;

  .classQueryImg{
    width: 100%;
    border-radius: 50%;
    position: relative;

    color: white;
    span{
      display: block;
      font-size: 22px;
      @extend .centerAbsolute;
    }
  }
}

.ad{
  width: 50%;

  display: inline-block;

  &:first-child{
    padding-right: 5px;
  }

  &:last-child{
    padding-left: 5px;
  }

  img{
    @extend .full;
    @extend .bordius5;
  }
}
